# Config
PORT=8076
AGENT_NAME=HyperSalesAgentDev

# MCPs
MAIN_MCP_URL=https://integrations-mcp.fastmcp.app/mcp
MAIN_MCP_KEY=

# LiveKit
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Google
GEMINI_API_KEY=
GOOGLE_CLOUD_LOCATION=
GOOGLE_CLOUD_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=
GCP_BUCKET_NAME=

# OpenAI
OPENAI_API_KEY=

# InworldAI
INWORLDAI_API_KEY=

# ElvenLabs
ELEVENLABS_API_KEY=

# AssemblyAI
ASSEMBLYAI_API_KEY=

# Soniox
SONIOX_API_KEY=

# Groq
GROQ_API_KEY=
